html {
  background: #ffffff; /* Old browsers */
}


div.scene { 
  border-color: black;
  border-style: solid;
  padding: 5px;
}

div.scene { 
  border-color: black;
  border-style: solid;
  padding: 5px;
}

div.inventory{ 
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

div.script {
  border-color: black;
  overflow: scroll;
  border-style: solid;
  padding: 10px;
}

#box {
  position: absolute;
  z-index: 9;
  background-color: #000000;
  border: 1px solid #00ff0c;
  color: #00ff0c;
  padding: 5px;
}

#boxheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #00ff0c;
  color: #000;
  max-width: 100%;
}

button.link { cursor: pointer;background:none;border:none; }
